{% include 'components/modals/image.html.njk'  %}

{% if config.isFeatureActivated('report') %}
  {% include 'components/modals/element/report.html.njk' %}
{% endif %}

{% if config.isFeatureActivated('delete') %}
  {% include 'components/modals/element/delete.html.njk' %}
{% endif %}

{% if config.isFeatureActivated('directions') %}
  {% include 'components/modals/element/pick-address.html.njk'  %}
{% endif %}

{% if config.isFeatureActivated('share') %}
  {% include 'components/modals/element/share.html.njk'  %}
{% endif %}

{% if config.isFeatureActivated('vote') or config.isFeatureAvailable('directModeration') %}
  {% include 'components/modals/element/vote.html.njk'  %}  
{% endif %}
{% include 'components/modals/contribution-information.html.njk'  %}

{% if config.isFeatureAvailable('sendMail') %}
  {% include 'components/modals/element/send-email.html.njk'  %}
{% endif %}

{% if config.isFeatureActivated('export') %}
  {% include 'components/modals/export-iframe.html.njk' %}
{% endif %}