<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">GoGoCartoJs</h1>
      <h2 class="project-tagline">Javascript component to create terrific cartography !</h2>
      <a href="https://gitlab.com/seballot/gogocarto-js" class="btn">View on GitLab</a>
      <a href="https://gitlab.com/seballot/gogocarto-js/tags" class="btn">Download lastest version</a>
    </section>
    
    <section class="menu-list">
      <h2>Navigation</h2>
      <ul>
        <li><a href="{{ "/" | relative_url }}">Overview</a></li>
        <li><a href="{{ "/web/examples.html" | relative_url }}">Demo</a></li>
        {% for item in site.data.navbar.toc %}
          <h3>{{ item.title }}</h3>
            <ul>
              {% for entry in item.subfolderitems %}
                <li><a href="{{ entry.url | relative_url }}">{{ entry.page }}</a></li>
              {% endfor %}
            </ul>
        {% endfor %}
      </ul>
    </section>

    <section class="main-content">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-owner">Maintained with love by <a href="https://gitlab.adullact.net/seballot">Seballot</a>. Find support <a href="https://chat.lescommuns.org/channel/gogocarto">in our Chat</a>.</span>
      </footer>
    </section>
  </body>
</html>
